<section *transloco="let t; read: scope">
  <p>
    {{
      data.text != null
        ? (data.text | transloco: data.textTranslationArgs)
        : t('DEFAULT_TEXT')
    }}
  </p>
  <div class="flex shrink-0 justify-between space-x-4 mt-8">
    <button
      class="grow p-2.5 font-bold border-2 border-orange-500 rounded-xl text-orange-500 shadow-[0px_0px_10px_0px_rgba(0,0,0,0.20)]"
      (click)="decline()"
    >
      {{
        data.declineLabel != null
          ? (data.declineLabel | transloco: data.declineLabelTranslationArgs)
          : t('DEFAULT_DECLINE_LABEL')
      }}
    </button>

    <button
      class="grow p-2.5 font-bold border-2 border-orange-500 rounded-xl bg-orange-500 text-white shadow-[0px_0px_10px_0px_rgba(0,0,0,0.20)]"
      (click)="approve()"
    >
      {{
        data.approveLabel != null
          ? (data.approveLabel | transloco: data.approveLabelTranslationArgs)
          : t('DEFAULT_APPROVE_LABEL')
      }}
    </button>
  </div>
</section>
