<div class="p-2">
  @if ($isLoading()) {
    <div class="flex flex-col gap-1">
      <p-skeleton width="100%" height="64px"></p-skeleton>
      <p-skeleton width="100%" height="64px"></p-skeleton>
      <p-skeleton width="100%" height="64px"></p-skeleton>
      <p-skeleton width="100%" height="64px"></p-skeleton>
    </div>
  } @else if ($error() != null) {
    <div class="flex flex-col justify-center items-center h-64 mt-10">
      <i class="ri-medal-2-line text-8xl text-sky-900"></i>
      <div class="mt-1 text-lg text-center">
        There was an error, when loading activities
      </div>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer rounded-md"
        (click)="load()"
      >
        Try again
      </button>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer rounded-md"
        [routerLink]="['/app/ranking']"
      >
        Go back to ranking
      </button>
    </div>
  } @else if ($activities().length === 0) {
    <div class="flex flex-col justify-center items-center h-64 mt-10">
      <i class="ri-medal-2-line text-8xl text-sky-900"></i>
      <div class="font-bold mt-1 text-2xl">Congrats!</div>
      <div class="mt-1 text-lg">You are back on track</div>
      <button
        class="mt-6 mx-auto block bg-orange-400 text-white w-48 p-2 cursor-pointer rounded-md"
        [routerLink]="['/app/ranking']"
      >
        Go back to ranking
      </button>
    </div>
  } @else {
    @for (activity of $activities(); track activity.id; let index = $index) {
      <div class="rounded-lg p-2 bg-white mb-4 shadow-lg">
        @if ($activities().length > 1) {
          <div class="font-bold">
            {{ index + 1 }}/{{ $activities().length }}
          </div>
        }

        <app-missing-exertion-view
          [activity]="activity"
          [navigateToRankingOnSet]="false"
        ></app-missing-exertion-view>
      </div>
    }
  }
</div>
