<app-mobile-view-port>
  <div class="flex flex-col h-full">
    <div
      class="px-4 pt-6 pb-8 flex justify-between items-center cursor-pointer"
    >
      <img
        [routerLink]="['/app']"
        class="w-40"
        src="assets/logo.svg"
        alt="logo"
      />
      <div
        [routerLink]="['/app/settings']"
        class="bg-orange-200 hover:bg-orange-300 cursor-pointer w-10 h-10 rounded-lg flex items-center justify-center shadow-md"
      >
        <i class="ri-settings-3-line text-xl"></i>
      </div>
    </div>
    <div
      class="rounded-lg shadow-[-10px_-10px_20px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(45,78,255,0.15)] flex-1 relative overflow-y-auto"
    >
      <div
        class="blur-3xl top-0 left-0 w-full h-full absolute z-0 overflow-y-hidden"
      >
        <img src="../../../assets/icons/bg.svg" />
      </div>
      <div class="relative z-10 h-full overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-mobile-view-port>
