<section *transloco="let t; read: scope">
  <h2 class="border-b">{{ t('TITLE') }}</h2>
  @for (challenge of challenges(); track challenge.id) {
    <div class="flex gap-2 items-center">
      {{ challenge.name }}
      <a
        class="text-blue-600 hover:underline"
        [routerLink]="['/app/challenge', challenge.id]"
        >{{ t('SHOW_LINK') }}</a
      >
      <a
        class="text-blue-600 hover:underline"
        [routerLink]="['/app/challenge', challenge.id, 'edit']"
        >{{ t('EDIT_LINK') }}</a
      >
      <button
        pButton
        [text]="true"
        icon="ri-delete-bin-line"
        severity="danger"
        type="button"
        (click)="remove(challenge)"
      ></button>
    </div>
  }
</section>
