<div class="p-2" *transloco="let t; read: scope">
  <app-challenge-list-smart></app-challenge-list-smart>
  <nav class="border-t py-2">
    <div>
      <a
        class="text-blue-600 hover:underline"
        [routerLink]="['/app/challenge/form']"
        >{{ t('CREATE_CHALLENGE') }}</a
      >
    </div>
    <div>
      <a
        class="text-blue-600 hover:underline"
        [routerLink]="['/app/challenge/join']"
        >{{ t('JOIN_CHALLENGE') }}</a
      >
    </div>
  </nav>
</div>
