@if ($isLoading()) {
  <p-skeleton width="100%" height="64px"></p-skeleton>
} @else if ($error() != null) {
  <div class="flex flex-col justify-center items-center h-64 mt-10">
    <i class="ri-medal-2-line text-8xl text-sky-900"></i>
    <div class="mt-1 text-lg text-center">
      There was an error, when loading activities
    </div>
    <button
      class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer rounded-md"
      (click)="load()"
    >
      Try again
    </button>
    <button
      class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer rounded-md"
      [routerLink]="['/app/ranking']"
    >
      Go back to ranking
    </button>
  </div>
} @else if ($activity() != null) {
  <div class="p-2">
    <app-missing-exertion-view
      [activity]="$activity()!"
      [navigateToRankingOnSet]="true"
    >
    </app-missing-exertion-view>
  </div>
}
