<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="!vm.isLoading">
    <ng-container *ngIf="vm.error === null">
      <div
        *ngFor="let activity of vm.data"
        class="rounded-xl px-3 py-2 mb-2"
        [ngClass]="activity.supported ? 'bg-white' : 'bg-slate-100'"
      >
        <sports-app-activity
          [activity]="activity"
          [currentUser]="athleteIdValue === 'me'"
          layout="detailed"
        ></sports-app-activity>
      </div>
    </ng-container>
    <div *ngIf="vm.error !== null">
      <div *ngIf="getErrorStatus(vm.error) === 404">
        <div>Athlete does not exist.</div>
      </div>

      <div *ngIf="getErrorStatus(vm.error) !== 404">
        <div>
          <i class="ri-error-warning-line"></i> Error occurred during activities
          fetching :(
        </div>
        <button
          class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer"
          (click)="load()"
        >
          Try again
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="vm.isLoading">
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
  </ng-container>
</ng-container>
