<section *transloco="let t; read: scope">
  <form class="p-2" [formGroup]="form" (ngSubmit)="invokeSubmit()">
    <h2>{{ t('HEADER') }}</h2>
    <div class="mb-2">
      <label for="password" class="block">{{ t('PASSWORD_LABEL') }}</label>
      <input
        class="mt-2"
        id="password"
        pInputText
        type="text"
        formControlName="password"
      />
      @let passwordErrors = form.controls.password.errors ?? {};
      @if (form.controls.password.touched) {
        @if (passwordErrors['required']) {
          <div class="text-red-600">{{ t('PASSWORD_REQUIRED_ERROR') }}</div>
        }
      }
    </div>
    <div class="my-2">
      <button pButton pRipple class="p-button-primary" type="submit">
        {{ t('SUBMIT_BUTTON') }}
      </button>
    </div>
    <a
      class="text-blue-600 hover:underline"
      [routerLink]="['/app/dashboard']"
      >{{ t('GO_BACK_LINK') }}</a
    >
  </form>
</section>
