<div *ngIf="vm$ | async as vm" class="mt-4">
  <ng-container *ngIf="!vm.isLoading">
    <ng-container *ngIf="!vm.error">
      <ng-container *ngIf="data$ | async as data">
        <div class="text-sm">
          <div class="font-bold">Points calculation:</div>
          <ng-container
            *ngIf="
              data.calculation.calculationType === 'timePaceHillPowerFnEffort'
            "
          >
            <div>
              Points for 1 minute:
              {{
                data.calculation.totalPoints /
                  (data.calculation.movingTime / 60) | number: '0.2-2'
              }}
            </div>
            <div class="flex justify-between">
              <div>Points for moving time:</div>
              <div>
                {{ data.calculation.pointsForMovingTime | number: '0.2-2' }}
              </div>
            </div>
            <div class="flex justify-between">
              <div>Points for average speed:</div>
              <div>
                {{ data.calculation.pointsForAverageSpeed >= 0 ? '+' : ''
                }}{{ data.calculation.pointsForAverageSpeed | number: '0.2-2' }}
              </div>
            </div>
            <div class="flex justify-between">
              <div>Points for elevation gain:</div>
              <div>
                {{ data.calculation.pointsForElevationGain >= 0 ? '+' : ''
                }}{{
                  data.calculation.pointsForElevationGain | number: '0.2-2'
                }}
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="data.calculation.calculationType === 'timePacePowerFnEffort'"
          >
            <div>
              Points for 1 minute:
              {{
                data.calculation.totalPoints /
                  (data.calculation.movingTime / 60) | number: '0.2-2'
              }}
            </div>
            <div class="flex justify-between">
              <div>Points for moving time:</div>
              <div>
                {{ data.calculation.pointsForMovingTime | number: '0.2-2' }}
              </div>
            </div>
            <div class="flex justify-between">
              <div>Points for average speed:</div>
              <div>
                {{ data.calculation.pointsForAverageSpeed >= 0 ? '+' : ''
                }}{{ data.calculation.pointsForAverageSpeed | number: '0.2-2' }}
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="data.calculation.calculationType === 'timeExertionEffort'"
          >
            <div>
              Points for 1 minute:
              {{
                data.calculation.totalPoints /
                  (data.calculation.movingTime / 60) | number: '0.2-2'
              }}
            </div>
            <div>
              Effort level (1-10): {{ data.calculation.effort ?? 'not set' }}
            </div>
            <div class="flex justify-between">
              <div>Points for moving time:</div>
              <div>
                {{ data.calculation.pointsForMovingTime | number: '0.2-2' }}
              </div>
            </div>
            <div class="flex justify-between">
              <div>Points for effort:</div>
              <div>
                +{{ data.calculation.pointsForEffort | number: '0.2-2' }}
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="data.calculation.calculationType === 'timeEffort'"
          >
            <div>
              Points for 1 minute:
              {{
                data.calculation.totalPoints /
                  (data.calculation.movingTime / 60) | number: '0.2-2'
              }}
            </div>
          </ng-container>

          <hr class="h-px bg-slate-600 border-0 ml-60" />
          <div class="flex justify-between">
            <div>Total sum for this activity:</div>
            <div>
              <sports-app-points-view [points]="data.calculation.totalPoints" />
            </div>
          </div>
        </div>

        <div class="flex gap-2 flex-wrap py-2 justify-between flex-col">
          <div
            class="text-orange-400 cursor-pointer text-center bg-gray-100 rounded-lg leading-9"
            (click)="refresh()"
            *ngIf="currentUser"
          >
            Refresh data
          </div>
          <a
            class="text-orange-400 cursor-pointer text-center bg-gray-100 rounded-lg leading-9"
            [attr.href]="'https://strava.com/activities/' + data.id"
            target="_blank"
          >
            Check it on Strava
          </a>
          @if (
            data.calculation.calculationType === 'timeExertionEffort' &&
            currentUser
          ) {
            <a
              class="text-orange-400 cursor-pointer text-center bg-gray-100 rounded-lg leading-9"
              [routerLink]="['/app/missing-exertion', data.id]"
            >
              Set exertion
            </a>
          }
          <div
            class="text-orange-400 cursor-pointer text-center bg-gray-200 rounded-lg text-xl leading-9"
            (click)="onToggle()"
          >
            <i class="ri-arrow-up-s-line"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="vm.error">
      <div>
        <i class="ri-error-warning-line"></i> Error occurred when getting
        activity details :(
      </div>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer"
        (click)="load()"
      >
        Try again
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="vm.isLoading">
    <p-skeleton height="1rem" styleClass="mb-2" />
    <p-skeleton height="1rem" styleClass="mb-2" />
    <p-skeleton height="1rem" styleClass="mb-2" />
    <p-skeleton height="1rem" styleClass="mb-2" />
    <p-skeleton height="1rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
  </ng-container>
</div>
