<div class="rounded-2xl p-4 bg-white mb-4 shadow-2xl">
  <div class="font-light text-sm" (click)="logFeed()">
    {{ $feed().createdDate | date: 'HH:mm dd/MM/yyyy' }}
  </div>
  @if (($feed().highlights ?? []).length > 0) {
    <div class="flex flex-wrap gap-1 my-1">
      @for (highlight of $highlights(); track $index) {
        <div class="flex items-center">
          <div
            class="text-sm rounded-l-md px-1"
            [class]="getHighlightColor(highlight)"
          >
            {{ getHighlightText(highlight) }}
          </div>
          <div
            class="rounded-md w-6 h-6 flex justify-center items-center text-lg relative -left-1"
            [class]="getHighlightColor(highlight)"
          >
            <i [class]="getHighlightIcon(highlight)"></i>
          </div>
        </div>
      }
    </div>
  }
  <div>
    @for (textPart of $textParts(); track $index) {
      @if (textPart.type === 'athlete') {
        <a
          class="text-orange-500 hover:underline"
          [routerLink]="[
            '/app/profile',
            $currentUserId() === textPart.athleteId ? 'me' : textPart.athleteId,
          ]"
          >{{ textPart.athleteName }}</a
        >
      } @else {
        <span>{{ textPart.text }}</span>
      }
    }
  </div>
  <div>
    @if ($isLoading()) {
      <p-skeleton height="200px"></p-skeleton>
    } @else if ($isErrored()) {
      <div>
        <i class="ri-error-warning-line"></i> Error when fetching activity :(
      </div>
    } @else if ($activity() != null) {
      <div class="mt-2 bg-orange-50 p-2">
        <app-activity-short-info
          [activity]="$activity()!"
          [showPhoto]="true"
          [showDate]="false"
        ></app-activity-short-info>
      </div>
      <div class="flex mt-1">
        <a
          [attr.href]="'https://strava.com/activities/' + $activity()!.id"
          target="_blank"
          class="border bg-slate-50 border-slate-300 flex gap-1 p-1 rounded-md pr-2 hover:bg-orange-50 hover:border-orange-300"
        >
          <img
            class="w-6 h-6"
            src="https://cdn.icon-icons.com/icons2/2699/PNG/512/strava_logo_icon_170697.png"
          />
          See in Strava
        </a>
      </div>
    }
  </div>
</div>
