<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="!vm.isLoading">
    <ng-container *ngIf="vm.error === null">
      <ng-container *ngIf="athleteData$ | async as athleteData">
        <div class="flex gap-3 p-5">
          <img
            class="w-20 h-20 rounded-xl"
            [attr.src]="
              athleteData.imageUrl
                ? athleteData.imageUrl
                : '../../../assets/avatars/avatar.png'
            "
            onerror="this.onerror=null;this.src='../../../assets/avatars/avatar.png';"
          />
          <div class="flex-1 py-3">
            <div class="font-light text-2xl">{{ athleteData.athleteName }}</div>
            <div class="font-light text-sm">
              #{{ athleteData.place
              }}{{ getPlaceSuffix(athleteData.place) }} place
            </div>
          </div>
        </div>
        <div class="px-4">
          <div class="pt-6 pb-4 text-xl font-light">
            {{
              vm.athlete.athleteId === 'me'
                ? 'My points history'
                : 'Points history'
            }}
          </div>
          <div class="flex justify-between mb-4">
            <div>SUM</div>
            <sports-app-points-view
              [points]="athleteData.points!"
            ></sports-app-points-view>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="vm.error !== null">
      <div>
        <i class="ri-error-warning-line"></i> Error occurred during profile data
        fetching :(
      </div>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer"
        (click)="load()"
      >
        Try again
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="vm.isLoading">
    <div class="flex gap-3 p-5">
      <div class="w-20 h-20 rounded-xl">
        <p-skeleton width="100%" height="100%"></p-skeleton>
      </div>
      <div class="flex-1 py-3">
        <div class="mb-1">
          <p-skeleton width="70%" height="24px"></p-skeleton>
        </div>
        <div class="mb-1">
          <p-skeleton width="70%" height="24px"></p-skeleton>
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="pt-6 pb-4">
        <p-skeleton width="70%" height="24px"></p-skeleton>
      </div>
      <div class="flex justify-between mb-4">
        <div><p-skeleton width="48px" height="24px"></p-skeleton></div>
        <div><p-skeleton width="96px" height="24px"></p-skeleton></div>
      </div>
    </div>
  </ng-container>
  <div class="px-4">
    <sports-app-activities
      [athleteId]="vm.athlete.athleteId"
    ></sports-app-activities>
  </div>
</ng-container>
