<section *transloco="let t; read: scope">
  <form class="p-2" [formGroup]="form" (ngSubmit)="invokeSubmit()">
    <h2>{{ t('HEADER') }}</h2>
    <div class="mb-2">
      <label for="name" class="block">{{ t('NAME_LABEL') }}</label>
      <input
        class="mt-2"
        id="name"
        pInputText
        type="text"
        formControlName="name"
      />
      @let nameErrors = form.controls.name.errors ?? {};
      @if (form.controls.name.touched) {
        @if (nameErrors['required']) {
          <div class="text-red-600">{{ t('NAME_REQUIRED_ERROR') }}</div>
        }
        @if (nameErrors['maxlength']; as maxLengthError) {
          <div class="text-red-600">
            {{ t('NAME_MAX_LENGTH_ERROR', maxLengthError) }}
          </div>
        }
      }
    </div>
    <div class="mb-2">
      <label for="startDate" class="block">{{ t('START_DATE_LABEL') }}</label>
      <p-calendar
        class="mt-2"
        inputId="startDate"
        formControlName="startDate"
        [minDate]="currentDate"
      ></p-calendar>
      @let startDateErrors = form.controls.startDate.errors ?? {};
      @if (form.controls.startDate.touched) {
        @if (startDateErrors['required']) {
          <div class="text-red-600">{{ t('START_DATE_REQUIRED_ERROR') }}</div>
        }
      }
    </div>
    <div class="mb-2">
      <label for="endDate" class="block">{{ t('END_DATE_LABEL') }}</label>
      <p-calendar
        class="mt-2"
        inputId="endDate"
        formControlName="endDate"
        [minDate]="getOneDayAfter(form.controls.startDate.value ?? currentDate)"
      ></p-calendar>
      @let endDateErrors = form.controls.endDate.errors ?? {};
      @if (form.controls.endDate.touched) {
        @if (endDateErrors['required']) {
          <div class="text-red-600">{{ t('END_DATE_REQUIRED_ERROR') }}</div>
        }
      }
    </div>
    <div class="my-2">
      <button pButton pRipple class="p-button-primary" type="submit">
        {{ t('SUBMIT_BUTTON') }}
      </button>
    </div>
    <a
      class="text-blue-600 hover:underline"
      [routerLink]="['/app/dashboard']"
      >{{ t('GO_BACK_LINK') }}</a
    >
  </form>
</section>
