<div class="flex flex-col items-center space-y-4">
  <div class="w-full mb-5">
    <div class="pt-5 pl-8 flex">
      <div class="cursor-pointer text-orange-500" routerLink="/app">
        <i class="ri-arrow-left-line text-2xl mr-1.5"></i>
      </div>
      <span class="text-2xl">Settings</span>
    </div>
  </div>

  <button
    class="p-4 mx-10 w-80 bg-white rounded-xl text-lg shadow-[0px_-2px_20px_0px_rgba(0,0,0,0.25)]"
    (click)="leaveChallenge()"
  >
    Leave the challenge
  </button>

  <button
    class="p-4 mx-10 w-80 bg-white rounded-xl text-lg shadow-[0px_2px_20px_0px_rgba(0,0,0,0.25)]"
    (click)="logout()"
  >
    Log out
  </button>
</div>
