<div class="flex justify-between">
  @if ($showDate()) {
    <div class="font-light text-sm">
      {{ this.$activity().createdDate | date: 'HH:mm dd/MM/yyyy' }}
    </div>
  }
  @if ($showPoints()) {
    <sports-app-points-view
      [points]="this.$activity().points"
    ></sports-app-points-view>
  }
</div>
<div class="flex gap-1 items-center">{{ this.$activity().name }}</div>
<div class="flex justify-between">
  <div class="flex gap-6">
    @if (this.$activity().distance !== 0) {
      <div>
        <i class="ri-pin-distance-line text-orange-400"></i>
        {{ getDistance(this.$activity().distance) }}
      </div>
    }
    <div>
      <i class="ri-time-line text-orange-400"></i>
      {{ getTime(this.$activity().movingTime) }}
    </div>
    @if (this.$activity().effort) {
      <div>
        <i class="ri-speed-up-line text-orange-400"></i>
        {{ this.$activity().effort }}
      </div>
    }
  </div>
  <sports-app-sport-badge [sportType]="this.$activity().type" />
</div>
@if ($showPhoto() && $photoUrl() != null) {
  <img class="my-2 w-full" [src]="$photoUrl()" />
}
