<div class="pb-4">
  <div class="flex-1 flex items-center gap-1 flex-wrap">
    <div
      *ngFor="let category of rankingCategories"
      class="m-0.5 px-3 py-1 rounded-xl cursor-pointer"
      [ngClass]="
        category.categoryName === $categoryQueryParam()
          ? ['bg-orange-400', 'text-white', 'border-2', 'border-orange-400']
          : 'bg-white border-gray-300 border-2'
      "
      (click)="onCategoryChange(category.categoryName)"
    >
      {{ category.categoryName }}
    </div>
  </div>
</div>
