<ng-container *transloco="let t; read: scope">
  <div class="border mb-1 flex gap-2">
    <button (click)="setLanguage('pl')">Pl</button>
    <button (click)="setLanguage('en')">En</button>
  </div>
  <h1>{{ t('TITLE') }}</h1>
  <div>{{ t('SUB_TITLE') }}</div>
  <div>
    <a class="text-blue-600 hover:underline" [routerLink]="['login']">Log in</a>
  </div>
  <div>
    <a class="text-blue-600 hover:underline" [routerLink]="['login']"
      >Sign up</a
    >
  </div>
</ng-container>
