<div class="flex flex-col h-full overflow-auto bg-slate-200">
  <div class="flex-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <div class="h-16 flex rounded-xl bg-white">
    <div
      class="flex-1 flex items-center justify-center gap-1 cursor-pointer rounded-xl"
      [routerLink]="['feed']"
      routerLinkActive="bg-orange-400 text-white"
      [routerLinkActiveOptions]="{ exact: false }"
      [queryParams]="
        $currentFeedPage() != 0 ? { page: $currentFeedPage() } : {}
      "
    >
      <i class="ri-rss-line"></i> Feed
    </div>
    <div
      class="flex-1 flex items-center justify-center gap-1 cursor-pointer rounded-xl"
      [routerLink]="['ranking']"
      [queryParams]="{ category: $currentCategory() }"
      routerLinkActive="bg-orange-400 text-white"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="ri-sort-desc"></i> Ranking
    </div>
    <div
      class="flex-1 flex items-center justify-center gap-1 cursor-pointer rounded-xl"
      [routerLink]="['profile/me']"
      routerLinkActive="bg-orange-400 text-white"
    >
      <i class="ri-user-heart-line"></i> My points
    </div>
  </div>
</div>
