<form class="p-2" [formGroup]="formGroup" (ngSubmit)="submit()">
  <div>
    <div>Text</div>
    <textarea class="w-full" rows="5" pInputTextarea formControlName="text">
    </textarea>
  </div>
  <button
    type="submit"
    class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer"
  >
    Create
  </button>
</form>
