/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: WorkSans;
  src: url(assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf)
    format('opentype');
}

body {
  font-family: 'WorkSans', sans-serif;
}

* {
  font-family: 'WorkSans', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.p-slider .p-slider-range {
  background-color: rgb(251 146 60);
}

.p-slider-handle {
  background-color: rgb(251 146 60);

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(254 215 170);
  }
}
