<div class="text-center">
  <div class="px-4 pt-6 pb-2 text-xl">
    <i class="ri-calendar-2-line"></i>
    Test ranking from 11/07 :)
  </div>
</div>
<div class="px-4" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="!vm.isLoading">
    <ng-container *ngIf="vm.error === null">
      <app-ranking-categories />
      <div
        class="rounded-2xl bg-white p-3 mb-2 cursor-pointer"
        [ngClass]="
          item.athleteId === vm.athleteId
            ? ['border-2', 'border-orange-400', 'bg-[#FDFFF7]']
            : ''
        "
        *ngFor="let item of $ranking(); let index = index"
        [routerLink]="[
          '../profile/' +
            (item.athleteId === vm.athleteId ? 'me' : item.athleteId),
        ]"
      >
        <div class="flex justify-between">
          <div class="font-medium">
            {{ index + 1 }}. {{ item.athleteName }}
            <i
              *ngIf="item.position !== item.latterlyPosition"
              [class]="
                item.position < item.latterlyPosition
                  ? 'ri-arrow-up-s-fill text-green-400'
                  : 'ri-arrow-down-s-fill text-red-400'
              "
            ></i>
          </div>
          <sports-app-points-view
            [points]="item.points"
          ></sports-app-points-view>
        </div>
        <div class="flex gap-1 flex-wrap">
          <sports-app-sport-badge
            *ngFor="let activity of item.activities"
            [sportType]="activity.type"
          ></sports-app-sport-badge>
        </div>
      </div>
    </ng-container>
    <div *ngIf="vm.error !== null">
      <div>
        <i class="ri-error-warning-line"></i> An error occurred during data
        fetching :(
      </div>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer"
        (click)="load()"
      >
        Try again
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="vm.isLoading">
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
  </ng-container>
</div>
