<app-mobile-view-port>
  <div class="p-4 h-full flex flex-col justify-between font-worksans ml-6 mr-6">
    <div class="relative h-full">
      <div
        id="background"
        class="blur-3xl top-0 left-0 w-full h-full absolute z-0 overflow-y-hidden"
      >
        <img class="w-full h-full" src="../../../assets/icons/bg.svg" />
      </div>
      <div class="relative flex flex-col h-full overflow-y-auto">
        <div class="mt-8 flex-1 overflow-hidden">
          <div class="w-60 mx-auto mb-10">
            <img
              class="mx-auto object-scale-down"
              src="assets/ludki.svg"
              alt="ludziki"
            />
          </div>
          <div class="w-60 mx-auto mb-14">
            <img
              class="mx-auto object-scale-down"
              src="assets/logo.svg"
              alt="logo"
            />
          </div>

          <div class="text-xl font-bold mb-1">Hello Folks!</div>
          <div>
            Welcome to the Sports App! Join your colleagues in friendly fitness
            competition. Log in through
            <span class="text-orange-500"
              ><u><a href="https://strava.com/">Strava</a></u></span
            >
            and let the games begin!
          </div>
        </div>

        <div class="flex-grow-0 flex-shrink-0 mt-auto">
          <button
            class="mt-6 block bg-orange-500 text-white p-2 w-full h-14 cursor-pointer rounded-[14px] font-medium z-10 shadow-[0px_4px_10px_0px_rgba(0,0,0,0.25)]"
            (click)="login()"
          >
            Log in via Strava
          </button>
        </div>
        <div class="flex-grow-0 flex-shrink-0 mt-auto">
          <button
            class="mt-6 mb-8 block bg-white text-orange-500 p-2 w-full h-14 cursor-pointer rounded-[14px] font-medium z-10 shadow-[0px_3px_8px_0px_rgba(0,0,0,0.15)]"
            (click)="createStravaAccount()"
          >
            Create Strava account
          </button>
        </div>
      </div>
    </div>
  </div>
</app-mobile-view-port>
