<div
  class="w-screen h-screen bg-slate-100 flex items-stretch justify-center lg:py-12"
  style="max-height: -webkit-fill-available"
>
  <div class="w-96 bg-white shadow-lg">
    <ng-content></ng-content>
  </div>
</div>
