<div class="p-2">
  @if ($isLoading()) {
    <div class="flex flex-col gap-2">
      <p-skeleton height="200px"></p-skeleton>
      <p-skeleton height="200px"></p-skeleton>
      <p-skeleton height="200px"></p-skeleton>
    </div>
  } @else if ($error() != null) {
    <div class="flex flex-col justify-center items-center h-64 mt-10">
      <i class="ri-medal-2-line text-8xl text-sky-900"></i>
      <div class="mt-1 text-lg text-center">
        There was an error, when loading feeds
      </div>
      <button
        class="mt-6 mx-auto block bg-slate-600 text-white w-48 p-2 cursor-pointer rounded-md"
        (click)="load()"
      >
        Try again
      </button>
    </div>
  } @else if ($feeds().length === 0) {
    <div class="flex flex-col justify-center items-center h-64 mt-10">
      <i class="ri-medal-2-line text-8xl text-sky-900"></i>
      <div class="mt-1 text-lg text-center">There are no feeds yet</div>
    </div>
  } @else {
    @for (feed of $feeds(); track feed.id) {
      <app-feed-list-item [feed]="feed"></app-feed-list-item>
    }

    @if ($totalRecords() > $pageSize()) {
      <p-paginator
        (onPageChange)="pageChanged($event)"
        [first]="$first()"
        [rows]="$pageSize()"
        [totalRecords]="$totalRecords()"
        [pageLinkSize]="3"
      />
    }
  }
</div>
