<div *ngIf="vm$ | async as vm">
  <div *ngIf="vm.error === null">We are logging you in...</div>
  <div *ngIf="vm.error !== null">
    There was an error when trying to log you: {{ vm.error }}
  </div>
</div>
