<app-activity-short-info
  [activity]="$activity()"
  [showPoints]="false"
></app-activity-short-info>

<p-skeleton height="100%"></p-skeleton>

<div class="my-2 text-justify">
  Please indicate the overall intensity you felt after the training session,
  considering the entire duration without bothering on any breaks.
</div>

<div class="py-8 relative">
  <div style="padding: 0 6px" class="absolute w-full top-12">
    <p-slider
      [min]="1"
      [max]="10"
      [animate]="true"
      [(ngModel)]="$selectedEffort"
      [disabled]="$isLoading()"
    />
  </div>
  <div class="flex justify-between">
    @for (exertionLevel of exertionLevels; track $index) {
      <div class="w-3 flex flex-col items-center">
        <div class="border-l-2 border-l-black h-10"></div>
        {{ exertionLevel }}
      </div>
    }
  </div>
  <!--@if ($highExertionWarningVisible()) {
        <div class="bg-orange-50 border border-orange-400 p-2 text-sm">
            When selecting the MET value for your activity, please consider the intensity and duration of your effort. If the activity included frequent breaks or was not performed at a high intensity throughout, you might want to choose a lower MET value to better reflect the actual effort.<br/>
            <span class="font-semibold">Provided value should be more based on overall intensivity of activity and not your personal possibilities</span>.
        </div>
    }-->

  @if ($selectedEffort() == null && $touched()) {
    <div class="text-red-700">
      <i class="ri-error-warning-line"></i> Select value
    </div>
  }
  @if (tip[($selectedEffort() ?? -1) - 1]; as currentTip) {
    <div class="mt-2">
      <div class="font-semibold">{{ currentTip.tip }}</div>
      <div class="text-base">{{ currentTip.message }}</div>
      <div>Equivalent of:</div>
      @if (currentTip.ride != null) {
        <div><i class="ri-riding-line"></i> - {{ currentTip.ride }}</div>
      }

      @if (currentTip.run != null) {
        <div><i class="ri-run-line"></i> - {{ currentTip.run }}</div>
      }

      @if (currentTip.walk != null) {
        <div><i class="ri-walk-line"></i> - {{ currentTip.walk }}</div>
      }
    </div>
  }
</div>

<div class="flex flex-col gap-2">
  @if ($isLoading()) {
    <p-skeleton height="36px"></p-skeleton>
  } @else {
    <div
      class="bg-orange-400 cursor-pointer text-center text-gray-100 rounded-lg leading-9 p-2"
      (click)="setEffort()"
      [class.pointer-events-none]="$isLoading()"
    >
      Set effort
    </div>
  }

  @if ($isLoading()) {
    <p-skeleton height="36px"></p-skeleton>
  } @else {
    <a
      class="text-orange-400 cursor-pointer text-center bg-gray-100 rounded-lg leading-9"
      [class.pointer-events-none]="$isLoading()"
      [attr.href]="'https://strava.com/activities/' + $activity().id"
      target="_blank"
    >
      Check it on Strava
    </a>
  }

  @if ($isLoading()) {
    <p-skeleton height="36px"></p-skeleton>
  } @else {
    <div
      class="text-orange-400 cursor-pointer text-center bg-gray-100 rounded-lg leading-9"
      [class.pointer-events-none]="$isLoading()"
      (click)="refresh()"
    >
      Refresh from Strava
    </div>
  }
</div>
